.page {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  max-width: 882px;
  min-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .page {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 400px) {
  .page {
    width: 100%;
  }
}
